<template name="sortableListItem">
    <a href="#!" class="collection-item">
        <div>
            <h5>this.item.title</h5>
            <a href="#!" class="secondary-content">
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </a>
        </div>
    </a>
</template>